body {
	background: #fff;
	font-size: 16px;
}

#root {
	background: url(/s/ml-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}